@import url('https://fonts.cdnfonts.com/css/poppins');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */

/* For Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: white; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

:root {
  --CL-primary-purple: #9b51e0;
  --CL-primary-pink: #fb37ff;
  --CL-primary-blue: #3081ed;
  --CL-primary-blue-dark: #2e3191;
  --CL-primary-blue-darker: #2a2977;
  --CL-primary-dark: #1f1d2b;
  --FF-poppins: 'Poppins', sans-serif;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(
    --CL-primary-blue-dark
  ); /* Color of the thumb on hover */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--FF-poppins);
  background-color: var(--CL-primary-dark);
}

img,
iframe,
video,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
button,
label,
select {
  font-family: var(--FF-poppins);
}

/* NavLinks */

.active {
  @apply bg-[var(--CL-primary-dark)] text-white;
}

@media (min-width: 768px) {
  .active {
    @apply border-b-2 bg-clip-text bg-gradient-to-r from-[var(--CL-primary-blue)] to-[var(--CL-primary-purple)] text-transparent brightness-125 font-extrabold;
  }
}

/* Button Styles */

.btn {
  @apply py-2.5 text-xs text-center text-white transition duration-150 rounded-lg md:text-sm md:hover:text-black active:scale-90;
}

.btn-neutral {
  @apply px-2 text-white border border-white md:hover:bg-white;
}

.btn-primary {
  @apply w-32 md:w-36 bg-gradient-to-r from-[var(--CL-primary-blue)] to-[var(--CL-primary-purple)] md:text-lg md:hover:from-white md:hover:to-white;
}

.btn-secondary {
  @apply w-32 text-white border border-white md:w-36 md:text-lg md:hover:bg-white;
}

.btn-badge {
  @apply w-24 p-2 text-white md:text-xs md:hover:bg-white;
}

/* Animations */
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    1.5s both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1.25s
    both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.slide-in-blurred-bottom {
  -webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
